.active-member {
  background-color: #18a2b8;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.not-member {
  background-color: gray;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
}
